<div class="row">
	<div class="header col-xs-12">
		<div class="col-xs-12 col-sm-8 col-md-7 header-image">
			<a [routerLink]="['/']">
				<img src="../../assets/images/logo.png" alt="Dreem Teem">
			</a>
		</div>

		<div class="col-xs-12 col-sm-4 col-md-5 button-block">
			<div class="label label-danger donate col-xs-12">
				<h1><a href="http://www.extra-life.org/index.cfm?fuseaction=donorDrive.teamParticipants&teamID=23224">Donate!</a></h1>
			</div>
			<div class="navigation-btns teem-button col-xs-12">
				<div class="btn col-xs-12">
					<a class="btn btn-success" [routerLink]="['/teem']">
						<h3> Meet our Teem</h3>
					</a>
				</div>
			</div>
		</div>
	</div>
</div>