.main{
	h2{
		margin: 10px auto;
	}

	.stream-panel{
		iframe{
			width: 100%;
			@media(min-width: 992px){
				height: 562px;
			}
			@media(max-width: 991px){
				height: 400px;
			}
			@media(max-width: 480px){
				height: 200px;
			}
		}

		.panel-heading{
			text-align: center;
		
			p{
				margin-bottom: 0;
			}

			.not-live{
				color: #AF0001;
			}

			.live{
				color: #03AF00;
			}
		}
	}

	.donations{
		border:none;
		background-color: #d9534f;
		margin-bottom: 20px;
		padding: 0 20px;
		text-align: center;

		.donations-label{ 
			color: white;
		}

		h2{
			margin: 10px 0;
		}
	}

	.progress-container{

	
		.progress{
			height:32px;

			p{
				color: black;
				font-size: 24px;
				padding-top: 6px;
			}
		}

	}
}