<div class="main">
	<div class="col-xs-12">
		<div class="donations row">
			<div class="donations-label">
				<h2>
					Current Donation Progress:
				</h2>
			</div>
			<div class="progress-container">
				<div class="progress">
				  <!--<div class="progress-bar progress-bar-warning" role="progressbar" data-aria-valuenow={{goalAmount}} aria-valuemin="0" data-aria-valuemax={{goalWhole}} style="{{donationPercentage(goalAmount, goalWhole)}}">
				    <p>${{goalAmount}}/${{goalWhole}}</p>
				  </div>-->
				</div>
			</div>
			<div class="btn col-xs-12" style="margin-bottom: 10px; padding: 0;">
			    <a class="btn btn-warning" href="./#/giveaway" style="margin: 0; font-family: 'dimitriregular', sans-serif;">
			        <h3 style="margin: 0; font-family: 'dimitriregular', sans-serif;">
			            Enter a Giveaway!
			        </h3>
			    </a>
			</div>
		</div>
		<div class="panel panel-default stream-panel">
			<div class="panel-heading">
				<strong>Stream Status: </strong>
				<!-- <p class="live">Live!!!</p> -->
				<p class="not-live">Not Live Yet (Tune in Oct 24 @ 8AM!)</p>
			</div>
			<!-- <div class="panel-body">
				<iframe src="http://www.twitch.tv/joinDotaRed/embed" frameborder="0"></iframe>
			</div> -->
		</div>
		<div class="panel panel-default panel-primary">
			<div class="panel-heading">
				<h2>
					Dreem Teem's Extra Life Campaign!
				</h2>
			</div>
			<div class="panel-body">
				<p>
					Hello!  We are a group of friends from all over the US who are working together to participate in the <a href="http://extra-life.org">Extra Life Challenge</a>, which is a charity event dedicated to raising money for sick children all across the United States.  Soon, our group will come together in Chicago for the weekend of <strong>October 24th, 2015</strong> to run a 24-hour gaming live stream as part of the challenge.  Along the way, we will be collecting donations and pledges for <a href="http://give.childrensmiraclenetworkhospitals.org/">Children's Miracle Network Hospitals</a> while we interact with viewers, compete with one another, and fight our hardest to stay awake for the entire 24 hour duration of the challenge.  
				</p>
				<p>
					This is our second year running the Extra Life challenge, and we couldn't be more excited.  Last year, with no experience at all, we were able to raise <strong>over $1,700 dollars</strong> over the course of the day.  We received many donations from friends and family, but also several hundreds from online viewers as well.   As we prepare for our second run, we hope to exceed our donation amounts from last year and set a new personal record.
				</p>
				<p>
					The entire event is all self-funded, and all money earned goes directly to the charity.  Additionally the whole event will be broadcast for free using the Twitch.tv service.  <strong>Two livestreams will go up on this page the day of the event</strong>. We promise to deliver a very entertaining stream for everyone to watch.  In addition to playing games and having competitions, various members of our group will be running giveaways or participating in crowd-requested challenges for donors and viewers alike.  
				</p>
				<p>
					So, if you're interested in helping our cause, and funding our crazy attempt to run another 24-hour charity stream, we would all be grateful for any donation you could give.  If you want to see more about everyone's individual goal, feel free to <a href="/teem"> check out all of our team bio's</a>.  And if you're ready to donate to our cause, <a href="http://www.extra-life.org/index.cfm?fuseaction=donorDrive.teamParticipants&teamID=23224">you can click here!</a>
				</p>
			</div>
		</div>
	</div>
</div>